
OCBTrainingMainInterface/.vs/OCBTrainingMainInterface/DesignTimeBuild/.dtbcache.v2
*.vsidx
OCBTrainingMainInterface/.vs/OCBTrainingMainInterface/v17/.suo
OCBTrainingMainInterface/.vs/OCBTrainingMainInterface/v17/TestStore/0/000.testlog
OCBTrainingMainInterface/.vs/OCBTrainingMainInterface/v17/TestStore/0/testlog.manifest
OCBTrainingMainInterface/bin/Debug/net8.0/OCBTrainingMainInterface.dll
*.pdb
OCBTrainingMainInterface/obj/Debug/net8.0/OCBTrainingMainInterface.RazorAssemblyInfo.cache
*.cache
OCBTrainingMainInterface/obj/Debug/net8.0/staticwebassets.development.json
OCBTrainingMainInterface/wwwroot/lib/jquery/dist/jquery.min.map
OCBTrainingMainInterface/wwwroot/lib/jquery/dist/jquery.min.js
OCBTrainingMainInterface/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
OCBTrainingMainInterface/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
*.map
OCBTrainingMainInterface/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
OCBTrainingMainInterface/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/js/bootstrap.js
OCBTrainingMainInterface/wwwroot/lib/jquery-validation/dist/jquery.validate.js
OCBTrainingMainInterface/.vs/OCBTrainingMainInterface/v17/DocumentLayout.json
OCBTrainingMainInterface/.vs/OCBTrainingMainInterface/config/applicationhost.config
OCBTrainingMainInterface/bin/Debug/net8.0/OCBTrainingMainInterface.exe
OCBTrainingMainInterface/bin/Debug/net8.0/OCBTrainingMainInterface.staticwebassets.runtime.json
OCBTrainingMainInterface/obj/Debug/net8.0/refint/OCBTrainingMainInterface.dll
*.dll
OCBTrainingMainInterface/obj/Debug/net8.0/staticwebassets/msbuild.OCBTrainingMainInterface.Microsoft.AspNetCore.StaticWebAssets.props
*.props
OCBTrainingMainInterface/obj/OCBTrainingMainInterface.csproj.nuget.g.targets
OCBTrainingMainInterface/obj/OCBTrainingMainInterface.csproj.nuget.dgspec.json
OCBTrainingMainInterface/wwwroot/lib/jquery/LICENSE.txt
OCBTrainingMainInterface/wwwroot/lib/jquery-validation/LICENSE.md
OCBTrainingMainInterface/wwwroot/lib/jquery/dist/jquery.js
OCBTrainingMainInterface/obj/Debug/net8.0/apphost.exe
OCBTrainingMainInterface/obj/Debug/net8.0/OCBTrainingMainInterface.csproj.BuildWithSkipAnalyzers
OCBTrainingMainInterface/obj/Debug/net8.0/OCBTrainingMainInterface.RazorAssemblyInfo.cs
*.bin
OCBTrainingMainInterface/wwwroot/favicon.ico
OCBTrainingMainInterface/wwwroot/js/site.js
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
OCBTrainingMainInterface/wwwroot/lib/bootstrap/LICENSE
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
OCBTrainingMainInterface/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
OCBTrainingMainInterface/obj/Debug/net8.0/staticwebassets.pack.json
